@import 'reset';

$textColor: #2d4271;
$fontSmall: 13px roboto, sans-serif;
$fontNor: 18px roboto, sans-serif;
//-------------- Extend---------------
%TitleStyle {
    font: $fontNor;
    font-weight: 700;
    line-height: 30px;
    margin: 10px 0px;
    width: 100%;
    text-align: start;
}

%listMenuStyle {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: start;
}

%menuItemStyle {
    color: $textColor;
    font: $fontSmall;
    text-align: left;
}

//------------CSS------------------
.footer {
    min-width: fit-content;
    background: #f9f9f9;
    &__top{
        padding: 60px 0px;
        
    }
    &__bottom{
        background-image: url(../assets/footer/bg-footer.png);
        padding: 20px 0px;
        & p{
            @extend %menuItemStyle;
            & a {
                color: $textColor;
            }
        }
    }
}


//Du lịch trong nước
.travel-inside {

    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                a {
                    @extend %menuItemStyle;
                }
            }

        }
    }
}

//Liên hệ
.contact {

    &__title {
        @extend %TitleStyle;
    }

    &__info p {
        font-weight: 300;
        margin: 20px 0px 0px 0px;

        line-height: 30px;
        color: $textColor;
        font: $fontSmall;
        text-align: start;
    }

    &__titleSocial {
        @extend %TitleStyle;
    }

    &__socials {
        display: flex;
        padding: 0px;
        margin: 10px 0px;
        font-weight: 300;
        line-height: 30px;

        &-social {
            margin: 0px 0px;
            padding-right: 20px;
            text-align: start;
        }

        &-social a i {
            color: $textColor;
        }
    }

    &__call {
        font-weight: 700;
        text-align: left;
        margin: 10px 0px;
        padding: 0px;
        line-height: 30px;
    }

    &__call .btn {
        border-radius: 10px;
        width: 176px;
        height: 50px;
        font: 22px roboto, sans-serif;
        min-height: 80%;

    }

    &__datetime {
        @extend %menuItemStyle;
        text-align: start;
    }

}

//Du lịch ngoài nước
.travel-outside {

    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                a {
                    @extend %menuItemStyle;
                }
            }
        }
    }
}

//Thông tin
.infomation {
    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                text-align: -webkit-match-parent;
            }

            &--item a {
                @extend %menuItemStyle;
            }
        }
    }
}

//Tour
.tour {

    &__title {
        @extend %TitleStyle;
    }

    &__listMenu {
        @extend %listMenuStyle;

        &-menu {
            padding: 0px;
            margin: 0px;

            &--item {
                line-height: 30px;
                text-align: -webkit-match-parent;
            }

            &--item a {
                @extend %menuItemStyle;
            }
        }
    }
}

//Newsletter
.newsletter {
    &__title {
        @extend %TitleStyle;
    }

    &__form {
        &-email, &-search {
            display: flex;
            height: 40px;
            max-width: 22em;

            & input {
                padding: 0px 20px;
                border: 1px solid $textColor;
                border-right: none;
                border-radius: 10px 0px 0px 10px;
            }
            & button {
                border: 1px solid $textColor;
                border-radius: 0px 10px 10px 0px;
                
            }
        }

        
    }
    &__security-payment{
        max-width: 30em;
        display: flex;
        margin: 10px 0px;
        justify-content: space-between;
    }
    &__security{
        margin-right: 5rem;
        max-width: 10em;
    }   
}

//Application Mobie
.appMobie{
    &__title{
        @extend %TitleStyle;
    }
    &__down{
        display: flex;
        justify-content: space-between;
    }
    &__scan{
        display: flex;
        justify-content: space-between;
        &-android p, &-ios p{
            @extend %menuItemStyle;
            margin: 10px 0px;
        }
    }
}
@media screen and (max-width: 768px) {
    img{
        width: 100%;
    }
    .footer__top{
        padding: 0px 10px;
    }
    .travel-inside, .travel-outside, .tour, .contact , .infomation, .newsletter, .appMobie{
        &__title,&__titleSocial{
            font: $fontSmall;
            color: $textColor;
            font-weight: 700;
            line-height: 30px;
        }
    }
}